.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

body {
  font-family: sans-serif;
}

.btn {
  margin: 5px;
}

.filter {
  margin-right: 10px;
  text-align: center;
}

.filterName, .filterColumn, .filterComparison, .filterValue {
  width: 17vw;
}

.filtered {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
}

.filters {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.main-filter {
  display: flex;
  flex-direction: column;
}

.main-filtered {
  display: flex;
  flex-flow: row wrap;
}
