body {
  background-image: url('./swBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow: hidden;
}

.tablePage {
  display: grid;
  grid-template-columns: 150vw;
  grid-template-rows: 10vh 10vh 80vh;
  height: 100vh;
  overflow: overlay;
  overflow-x: clip;
  width: 101vw;
}

.filters {
  grid-row: 1;
}

.sortData {
  align-items: center;
  display: flex;
  grid-row: 2;
}

.table {
  display: grid;
  grid-gap: 2vh;
  grid-row: 3;
  grid-template-rows: 7vh 91vh;
}

.tableHeaders {
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.137);
  border-radius: 10px;
  color: azure;
  display: grid;
  grid-template-columns: 5vw 5vw 5vw 6vw 6vw 7vw 6vw 6vw 9.5vw 30.5vw 17vw 17vw 18vw;
  position: fixed;
  text-align: center;
  z-index: 10;
}

.tableBody {
  grid-row: 2;
}
