.custom-select select {
  display: none;
}

.select-selected {
  background-color: rgb(104, 165, 12);
  font-size: 16px;
}

.select-selected:after {
  border: 6px solid transparent;
  border-color: white transparent transparent;
  content: '';
  height: 0;
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}

.select-selected.select-arrow-active:after {
  border-color: white transparent transparent;
  top: 7px;
}

.select-items div, .select-selected {
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
}

.select-items {
  background-color: green;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #313131;
  border: solid 3px;
  color: white;
  display: inline-block;
  font-size: 18px;
  margin: 0 0 10px;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
}
