body {
  background-color: rgb(136, 136, 136);
  font-family:sans;
  margin: auto 0;
  padding:0;
}

h1 {
  font-weight: 500;
}

.nameFilter {
  border: none;
  font-size: 18px;
  height: 24px;
  outline: none;
  padding:2px;
  width:15rem;
}

.valueFilter {
  border: none;
  font-size: 18px;
  height: 22px;
  outline: none;
  width:14.75rem;
  margin: 0.55rem 0;
}

select {
  outline: none;
  height: 1.5rem;
  width: 15rem;
  margin-top: 0.55rem;
}

button {
  margin-bottom: 0.55rem;
}

table {
  border-collapse: collapse;
} th {
  background:rgb(0, 2, 110);
  border: 2px solid black;
  color:white;
} td {
  border: 0.5px solid black;
  padding: 0.5rem;
  text-align: left;
}
